@use "variables" as *;

.wrap-wide {
    position: relative;
    max-width: 1030px;
    margin: 0 auto;
}



// sec-top-a
.sec-top-a {
    position: relative;
    height: auto;
    text-align: center;
    .a-left-image {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.5);
        transform-origin: top left;
    }
    .a-right-image {
        position: absolute;
        bottom: 0;
        right: 0
        ;
        transform: scale(0.5);
        transform-origin: bottom right;
    }
}

.top-title {
    padding-top: 55px;
    .title-logo {
        display: block;
        height: auto;
        width: 138px;
        margin: 0 auto 15px;
    }
    strong {
        font-family: 'MOBO', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }
    p:nth-child(1) {
        font-family: 'MOBO', sans-serif;
        font-weight: 600;
        font-size: 18px;
        padding: 14px 0 20px;
    }
    p:nth-child(2) {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 1.44px;
        padding-bottom: 30px;
    }
}



// sec-top-b
.sec-top-b {
    position: relative;
    text-align: center;
    height: 1547px;
    width: 100vw;
    background: url('https://gigaplus.makeshop.jp/yemoba4818/settei-suport/image/sec-top-b/background.png') no-repeat center / cover;
}

.pailing1-wrap {
    padding: 70px 0 40px;
    .sec-b-paling1 {
        display: inline-block;
        background-color: #808080;
        border-radius: 9999px;
        p {
            font-family: 'MOBO', sans-serif;
            font-weight: 700;
            font-size: 20px;
            color: #fff;
            padding: 12px 50px;
        }
    }
}

.b-window-wrap {
    display: flex;
    gap: 20px;
    max-width: 760px;
    margin: 0 auto;
    .b-window {
        position: relative;
        width: 100%;
        height: 165px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        p:nth-child(1) {
            font-weight: 700;
            font-size: 16px;
            padding: 15px 0 0;
        }
        p:nth-child(2) {
            font-weight: 700;
            font-size: 22px;
        }
        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scale(0.5);
            transform-origin: bottom center;
        }
    }
}

.b-speach-bubble {
    padding-top: 50px;
    height: auto;
    width: 280px;   
}

.b-middle-read {
    margin: 145px 0 20px;
    h2 {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    p:nth-child(1) {
        font-family: 'MOBO';
        font-weight: 700;
        font-size: 20px;
    }
    p:nth-child(2) {
        font-family: 'MOBO';
        font-weight: 700;
        font-size: 20px;
        padding: 9px 0 0 3px;
    }
    p:nth-child(3) {
        font-family: 'MOBO';
        font-weight: 700;
        font-size: 30px;
    }
    p:nth-child(4) {
        font-weight: 700;
        font-size: 18px;
        padding-top: 20px;
    }
    img {
        height: 28px;
        width: 209px;
    }
}

.b-middle-window {
    position: relative;
    height: 334px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    &:nth-child(1) {
        border: 2px solid #ffe100;
        .bmw-read {
            div {
                height: auto;
                width: auto;
                border-radius: 10px;
                background: rgba(255, 225, 0, 0.50);            
                p {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21px;
                    padding: 9px 40px 9px 54px;
                }
            }
        }
        .bmw-under-read {
            background: #FFE100;;
        }
    }
    &:nth-child(2) {
        border: 2px solid #f4a000;
        .bmw-read {
            div {
                height: auto;
                width: auto;
                border-radius: 10px;
                background: rgba(244, 160, 0, 0.50);            
                p {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21px;
                    padding: 9px 22px 9px 40px;
                }
            }
        }
        .bmw-under-read {
        background: #f4a000;
        }
    }
}

.bmw-read {
    display: flex;
    align-items: center;
    padding: 15px 44px 0;
    img {
        position: relative;
        height: 85px;
        width: 85px;
        margin-right: -33px;
    }
}

.bmw-under-read {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    text-align: center;
    z-index: 2;
    p:nth-child(1) {
        font-family: 'MOBO';
        font-weight: 600;
        font-size: 14px;
        padding-top: 14px;
    }
    p:nth-child(2) {
        font-family: 'MOBO';
        font-weight: 700;
        font-size: 22px;
        padding: 6px 0 5px;
    }
    img {
        height: 12px;
        width: 11px;
    }
}

.bmw-left-image {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    transform-origin: bottom center;
    z-index: 1;
}

.bmw-right-image {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    transform-origin: bottom center;
    z-index: 1;
}

.b-under-read {
    div {
        position: relative;
        display: inline-block;
        p {
            font-family: 'MOBO';
            font-size: 26px;
            font-weight: 700;
            padding: 45px 0 20px;
        }
        img {
            position: absolute;
            top: 20px;
            right: -71px;
            height: 65px;
            width: 65px;
        }
    }
    p {
        padding-bottom: 20px;
    }
}

.b-speach-bubble2 {
    height: 108px;
    width: 390px;
}



// sec-top-c
.sec-top-c {
    position: relative;
    height: 639px;
    background-color: #fff;
    .a-left-image {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.5);
        transform-origin: top left;
    }
    .a-right-image {
        position: absolute;
        bottom: 0;
        right: 0
        ;
        transform: scale(0.5);
        transform-origin: bottom right;
    }
}

.c-wrap-wide {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

.c-wrap-height {
    padding: 120px 0 100px;
}

.c-big-read {
    padding: 40px 0;
    h2 {
        font-weight: 900;
        font-size: 22px; 
    }
}

.c-main-read {
    p {
        font-size: 18px;
    }
}



// sec-top-d
.sec-top-d {
    background-color: #FFF9CC;
}

.d-wrap-wide {
    padding: 100px 0 134px;
}

.line-touroku {
    height: auto;
    width: 100%;
}

.slider-window-wrap {
    position: relative;
    height: auto;
    border-radius: 10px;
    margin-top: 150px;
    &:nth-child(2) {
        background-color: #FFE100;
    }
    &:nth-child(3) {
        background-color: #f4a000;
        margin-bottom: 134px;
    }
}

.d-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    height: 120px;
    width: 120px;
    transform: translateX(-50%);
}

.d-top-read {
    text-align: center;
    padding: 90px 0 20px;
    p {
        font-family: 'MOBO';
        font-size: 18px;
        font-weight: 600;
    }
    h3 {
        font-family: 'MOBO';
        font-size: 26px;
        font-weight: 700;
        padding: 10px 0 20px;
    }
}

.slider-inner-wrap {
    height: auto;
    padding-bottom: 64px;
}



// sec-top-e
.sec-top-e {
    position: relative;
    text-align: center;
}

.e-background {
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: auto;
}

.medal {
    position: relative;
    width: 105px;
    height: auto;
    top: -24px;
}

.e-top-read {
    margin-top: -24px;
    padding: 0 0 59px;
    p {
        font-family: 'MOBO';
        font-size: 18px;
        font-weight: 600;
    }
    h3 {
        font-family: 'MOBO';
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;
        padding-top: 10px;
    }
}

.e-window-wrap {
    display: flex;
    gap: 20px;
}

.e-window-outer {
    height: auto;
    width: 100%;
    padding-bottom: 134px;
    .ew-top-read {
        position: relative;
        z-index: 10;
        display: inline-block;
        background-color: #ffe100;
        border-radius: 18px;
        p {
            font-size: 18px;
            font-weight: 900;
            padding: 5px 24px;
        }
    }
}
.e-window {
    position: relative;
    z-index: 9px;
    height: 305px;
    width: 100%;
    margin-top: -19px;
    border: 2px solid #FFE100;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    img {
        position: absolute;
        top: 38px;
        left: 50%;
    transform: translateX(-50%) scale(0.5);
        transform-origin: top center;
    }
}

.ew-middle-read {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding-top: 165px;
    line-height: 28px;
}

.ew-under-read {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: #ffe100;
    font-size: 14px;
}


// sec-top-f
.sec-top-f {
    position: relative;
    text-align: center;
    background-color: #9BE9BB;
}

.f-background {
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: auto;
}

.f-top-read {
    margin-top: -24px;
    padding: 0 0 59px;
    p {
        font-family: 'MOBO';
        font-size: 18px;
        font-weight: 600;
    }
    h3 {
        font-family: 'MOBO';
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;
        padding-top: 10px;
    }
}

.f-slider-wrap {
    padding-bottom: 60px;
}


// sec-top-g
.g-outer {
    text-align: center;
    padding: 50px 0;
    .g-read {
        p:nth-of-type(1) {
            font-family: "MOBO";
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 10px;
        } 
        p:nth-of-type(2) {
            font-family: "MOBO";
            font-size: 23px;
            font-weight: 700;
            line-height: 28px;
        }     
    }
}

.line-button {
    &:hover {
        opacity: 0.8;
    }
    img {
        width: 284px;
        height: auto;
        padding-top: 20px;
    }
}


// sec-top-h
.sec-top-h {
    background-color: #F0F0F0;
    padding-bottom: 60px;
}

.top_h_tit {
	padding: 50px 0 30px;
	text-align: center;
	p:nth-of-type(1) {
        font-family: "MOBO";
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    } 
    p:nth-of-type(2) {
        font-family: "MOBO";
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;
    } 
}

.boxs {
    display: flex;
    flex-wrap: wrap;
		.box {
			width: calc((100% - 20px) / 2);
			margin-right: 20px;
			margin-bottom: 20px;

			&:nth-child(2n) {
				margin-right: 0;
			}
            img {
                width: 100%;
                height: auto;
            }
		}
	}